
.clientsreview {
  &__person {
    height: 50em;
    &--opinion {
      position: relative;
      border: 1px solid lighten($overlayBgColor, 60%);
      padding: 5em;
      p {
        font-size: 1.5em;
        font-weight: 300;
        letter-spacing: .02em;
        text-align: justify;
      }
    }
    &--data {
      position: absolute;
      top: 34%;
      right: 43%;
      img {
        max-width: 65px;
        height: 65px;
        border-radius: 100%;
      }
      span {
        text-align: center;
        display: inline-block;
        position: absolute;
        font-size: 1.5em;
        right: 5%;
        bottom: -37%;
      }
    }
  }
}
