
/* colors */
$lightFontColor: #ffffff;
$darkFontColor: #282f35;
$overlayBgColor: #282f35;
$accentGoldColor: #c59a6d;
$inputFooterColor: #1e2429;

/* transition */
$cbBtn: cubic-bezier(0.215, 0.61, 0.355, 1);
